</body>

<footer>
  <div class="social-links">
    <ul>
      <li><img src="img/icons/github.png" alt=""></li>
      <li><img src="img/icons/instagram.png" alt=""></li>
      <li><img src="img/icons/linkedin.png" alt=""></li>
    </ul>
  </div>
  <p>Copyright &copy; <%= new Date().getFullYear() %> FADLIN</p>
</footer>
</html>
