<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FADLIN</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">
  </head>
  <body>

    <header>
      <nav>
        <a href="#"><img src="img/title.png" alt="Logo"></a>
        <div class="links">
          <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">ABOUT ME</a></li>
            <li><a href="#">HIRE ME</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <section id="first-page">
        <div class="title">
          <h1>Hi, I am Rachmat and I am a <br/> Full Stack Web Developer</h1>
        </div>
        <div class="image">
          <img src="../img/main-page2.png" alt="image">
        </div>
      </section>
    </main>

  </body>
</html>
